{% extends 'home/base.html' %}

{% block content %}
<BR><BR>
<div class="track-details">
    <h1>
        {% if track.name %} <b>{{track.name}}</b>
        {% else %} <a style="color:#ca0a0a">No tiene un nombre completo.</a>
        {% endif %}
    </h1>
    <BR>
    <h4>
        {% if track.artists %} Artistas: <a style="color: #004c99">{{track.artists}}</a>
        {% else %} <a style="color:#ca0a0a">No tiene artistas especificados.</a>
        {% endif %}
    </h4>
    <BR>
    <h4>
        {% if track.popularity != 0 %} Popularidad: <a style="color: #004c99">{{track.popularity}} / 100</a>
        {% else %} <a style="color:#ca0a0a">No tiene popularidad.</a>
        {% endif %}
    </h4>
    <BR>
    <h6>
        {% if track.album %} Álbumes: <a style="color: #004c99">{{track.album}}</a>
        {% else %} <a style="color:#ca0a0a">No tiene álbmues asociados.</a>
        {% endif %}
    </h6>
    <BR>
    <h6>
        {% if track.duration != '0:00:00' %} Duración: <a style="color: #004c99">{{track.duration}}</a>
        {% else %} <a style="color:#ca0a0a">No tiene duración.</a>
        {% endif %}
    </h6>
    <BR>
    <h6>
        {% if track.explicit %} <a style="color:#78420b">Sí tiene letras explícitas.</a>
        {% else %} <a style="color: #004c99">No tiene letras explícitas.</a>
        {% endif %}
    </h6>
    <BR>
    <h6>
        {% if track.genres %} Géneros: <a style="color: #004c99">{{track.genres}}</a>
        {% else %} <a style="color:#ca0a0a">No tiene géneros especificados.</a>
        {% endif %}
    </h6>
    <BR>
    <form id="twittear-form-post" action="" method="POST" autocomplete="off">
        {% if not message %} {% csrf_token %} <input type="submit" name="twittear" class="button" tabindex= "0" value="Twittear mi actividad">
        {% elif message == 'Has twitteado tu actividad correctamente.' %} <a style="color: #004c99">{{message}}</a>
        {% else %} <a style="color: #ca0a0a">No ha sido posible twittear tu actividad: {{message}}</a>
        {% endif %}
    </form>
    <BR>
</div>
{% endblock %}